<footer>
  <div class="link">
    <a href="<%= button_link %>"><%= button_text %></a>
  </div>

  <div class="contact-details">
    <ul>
      <li><a href="mailto:hej@samuel.ie">hej@samuel.ie</a></li>
      <li>+46 709 82 92 51</li>
      <li>+47 459 68 805</li>
    </ul>
  </div>
</footer>
